# IMDb Scraper

Workflow: 5 

Goal: Start with TMDB ids and get all data from IMDB.

Result: The file ```imdb_movie.csv``` is created.

In [1]:
import os
import time
import pandas as PD

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
# can't reload script in a different folder

import sys
sys.path.append('../models')
import imdb_scraper as MB

## Scrape One Movie

In [4]:
scraper = MB.ImdbScraper()
scraper.open_imdb()

<selenium.webdriver.firefox.webdriver.WebDriver (session="db04871d-0fb4-2746-a7ed-35d7b6099034")>

In [5]:
title = 'Kaaliyan'
year = '2017'
# scraper.search_any(title)

In [6]:
# scraper.goto_movie_result(title, year)

In [7]:
# movie_dx = scraper.get_movie_data()
# movie_dx

In [8]:
movie_dx = scraper.get_movie_by_id('tt3170504')
movie_dx

{'imdb_id': 'tt3170504',
 'title': 'Last Love Lost',
 'original_title': None,
 'year': '2015',
 'rating': 'Not Rated',
 'companies': None,
 'country': None,
 'language': None,
 'duration': 83,
 'directors': 'Jahmar Hill',
 'writers': 'Jahmar Hill',
 'actors': 'Jahmar Hill, Toni Belafonte, Talli Clemons',
 'genres': 'Drama',
 'synopsis': 'Antonio (Jahmar Hill) is awakened from a coma he was in for a year and a half after being shot by his father while trying to break up a domestic dispute between him and his mother. When ',
 'budget': None,
 'gross_us': None,
 'gross_worldwide': None,
 'score': '7.5',
 'votes': '15'}

In [9]:
scraper.close()

## Scrape Based on TMDB

In [10]:
INDEX_FILE = '../data/moviedb_subsample.csv'
index_df = PD.read_csv(INDEX_FILE)
index_df.head()
index_df.info()

,title,original_title,year,companies,country,language,run_time,crew,cast,poster,genres,collection,synopsis,budget,gross,score,votes,tmdb_id,imdb_id
0,1,1,2013,"Exclusive Media, Flat-Out Films",United States of America,English,112.0,"Paul Crowder, Mark Monroe, Michael Shevloff","Niki Lauda, Michael Schumacher, Lewis Hamilton",/4uIPXX8DjTsCzUAdtMKHTpojYLq.jpg,Documentary,NaN,Set in the golden era of Grand Prix Racing '1'...,NaN,NaN,7.4,59,217316,tt2518788
1,13 Times Evil,13 Times Evil,2016,NaN,NaN,English,NaN,"Philip Gardiner, O.H. Krill","Rick Wallen, Charles Thompsen, Robert Pitt",/tcdAJMNPAlqtsNPtYK0F0GUgHKG.jpg,Documentary,NaN,History is replete with psychotic killers with...,NaN,NaN,0.0,0,386666,NaN
2,21 Days,21 Days,2014,"Nopal Army, Tortilla Flats Productions",United States of America,English,89.0,Kathleen Behun,"Max Hambleton, Whitney Rose Pynn, Mickey River",/1IXt1E6i6tH8gaCFG6jhlsKM4V5.jpg,"Thriller, Horror",NaN,Three filmmakers embark on a paranormal challe...,NaN,NaN,4.7,10,341957,tt2979366
3,36 Hour Layover,36 Hour Layover,2016,RLJ Entertainment,United States of America,English,88.0,Mark Harris,"Amin Joseph, Monica Calhoun, Brian J. White",/vZCoqQecIEGqfDr4Q3Ppvg3ZXIF.jpg,"Comedy, Romance",NaN,This film is a romantic comedy about a steward...,1000000.0,NaN,10.0,1,441453,tt5201246
4,666: Devilish Charm,666: Devilish Charm,2014,Rapid Heart Pictures,United States of America,English,75.0,"David DeCoteau, Rolfe Kanefsky","Courtney B Turk, Ryan Walker, R.J. Cantu",/cauliUwjBwVEFWGBhlpjnBmWec5.jpg,"Horror, Thriller",NaN,When a cursed devil's charm' bracelet shows up...,1000000.0,NaN,3.8,5,270802,tt3216846

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 19 columns):
title             319 non-null object
original_title    319 non-null object
year              319 non-null int64
companies         214 non-null object
country           245 non-null object
language          319 non-null object
run_time          290 non-null float64
crew              303 non-null object
cast              288 non-null object
poster            311 non-null object
genres            285 non-null object
collection        22 non-null object
synopsis          317 non-null object
budget            57 non-null float64
gross             29 non-null float64
score             319 non-null float64
votes             319 non-null int64
tmdb_id           319 non-null int64
imdb_id           314 non-null object
dtypes: float64(4), int64(3), object(12)
memory usage: 47.5+ KB

In [11]:
# investigate errors

error_titles = ['13 Times Evil', 'There Is a New World Somewhere', 'The Scarlet and the Black', 'The Sleeping Tiger', 
                'The Untold Story', 'Zombiegeddon', 'To Love The Soul Of A Woman', 'Tree Man']
index_df.loc[index_df['title'].isin(error_titles)][['title', 'year', 'imdb_id']]

                              title  year    imdb_id
1                     13 Times Evil  2016        NaN
278  There Is a New World Somewhere  2015  tt3281502
280       The Scarlet and the Black  1983  tt0086251
282              The Sleeping Tiger  1954  tt0047505
287                The Untold Story  1993  tt0103743
294     To Love The Soul Of A Woman  2017        NaN
297                        Tree Man  2016  tt3246684
318                    Zombiegeddon  2003  tt0316946

In [12]:
#index_df.tail(20)['title']

In [13]:
scraper = MB.ImdbScraper()
scraper.open_imdb()
movie_ls = []
t0 = time.time()

for idx, row in index_df.iterrows():
    title = row['title']
    year = row['year']
    imdb_id = row['imdb_id']
    movie_dx = None

    try:
        movie_dx = scraper.get_movie_by_id(imdb_id)
    except Exception as ex:
        print('')
        print(f'Error 1: {title} {year} {imdb_id}')
        print(ex)

    if not movie_dx:
        try:
            scraper.open_imdb()
            scraper.search_any(title)
            found = scraper.goto_movie_result(title, year)
            if found:
                print(f'found by title: {title} {year} {imdb_id}')
                movie_dx = scraper.get_movie_data()
            else:
                print(f'NOT found by title: {title} {year}')
        except Exception as ex:
            print(f'Error 2: {title} {year} {imdb_id}')
            print(ex)

    if movie_dx:
        movie_ls.append(movie_dx)

scraper.close()
t1 = time.time()
print(f'movies: {len(movie_ls)}')
print(f'time: {(t1-t0)/60:.2f} mins')

<selenium.webdriver.firefox.webdriver.WebDriver (session="f95573cf-386e-4049-8b87-a37a4836b745")>

Error 1: 13 Times Evil 2016 nan
Message: Unable to locate element: .title_wrapper

found by title: 13 Times Evil 2016 nan

Error 1: Kaaliyan 2017 nan
Message: Unable to locate element: .title_wrapper

found by title: Kaaliyan 2017 nan

Error 1: Metallica: Kill 'Em All to St. Anger - The Ultimate Critical Review 2006 nan
Message: Unable to locate element: .title_wrapper

Error 2: Metallica: Kill 'Em All to St. Anger - The Ultimate Critical Review 2006 nan
Message: Unable to locate element: //*[h3/text()="Titles"]


Error 1: The Wiggles - Taking Off! 2013 nan
Message: Unable to locate element: .title_wrapper

NOT found by title: The Wiggles - Taking Off! 2013

Error 1: To Love The Soul Of A Woman 2017 nan
Message: Unable to locate element: .title_wrapper

found by title: To Love The Soul Of A Woman 2017 nan
movies: 317
time: 8.13 mins

In [14]:
# projected time

print(f'projected time: {(t1-t0)/60/60*18450/index_df.shape[0]:.2f} hrs')

projected time: 7.84 hrs

## Output To CSV

In [17]:
movie_df = PD.DataFrame(movie_ls)
movie_df[10:15]
movie_df.info()

,imdb_id,title,original_title,year,rating,companies,country,language,duration,directors,writers,actors,genres,synopsis,budget,gross_us,gross_worldwide,score,votes
10,tt5168832,After Porn Ends 2,None,2017,TV-MA,"WeBros Entertainment, Karbonshark",USA,English,90.0,Bryce Wagoner,None,"Lisa Ann, Georgina Spelvin, Darren James",Documentary,After Porn Ends 2 turns back the clock to meet...,500000,None,None,5.4,2196
11,tt1912981,A Haunting in Salem,None,2011,R,The Asylum,USA,English,86.0,Shane Van Dyke,H. Perry Horton,"Bill Oberst Jr., Courtney Abbiati, Jenna Stone","Horror, Mystery, Thriller","In this spine-chilling indie horror flick, a s...",None,None,None,3.2,1308
12,tt1226240,A Late Quartet,None,2012,R,"Opening Night Productions, Concept Entertainment",USA,English,105.0,Yaron Zilberman,"Seth Grossman , Yaron Zilberman","Philip Seymour Hoffman, Christopher Walken, Ca...","Drama, Music",Members of a world-renowned string quartet str...,None,1562548,6303709,7.1,13188
13,tt1737796,Alien Rising,Gemini Rising,2013,Not Rated,"Pathfinder Film Group, Pathfinder Productions",USA,English,93.0,Dana Schroeder,"Michael Todd, Kenny Yakkel","Lance Henriksen, Amy Hathaway, John Savage","Action, Sci-Fi, Thriller",A savvy ex-homeland security agent and martial...,3500000,None,None,3.1,318
14,tt5022680,All Hallows' Eve 2,None,2015,Unrated,"Hollywood Shorts, Ruthless Pictures",USA,English,91.0,"Bryan Norton, Jesse Baget","Jesse Baget , Elias Benavidez","Andrea Monier, Damien Monier, Helen Rogers",Horror,A woman finds a VHS tape on her doorstep that ...,None,None,None,4.8,1317

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 19 columns):
imdb_id            317 non-null object
title              317 non-null object
original_title     46 non-null object
year               317 non-null object
rating             223 non-null object
companies          287 non-null object
country            314 non-null object
language           313 non-null object
duration           302 non-null float64
directors          316 non-null object
writers            285 non-null object
actors             297 non-null object
genres             317 non-null object
synopsis           317 non-null object
budget             95 non-null object
gross_us           51 non-null object
gross_worldwide    98 non-null object
score              314 non-null object
votes              314 non-null object
dtypes: float64(1), object(18)
memory usage: 47.2+ KB

In [16]:
save_path = r'../data/imdb_subsample.csv'
movie_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.12 mb'