# TMDB Helper Development

Workflow: 0  

Goal: To develop the TMDB helper class by exploring the functionality of the ```tmdbsimple``` package.   

Result: The file ```moviedb_helper.py``` file is created.  

Notes: The rate limit is stated at 40 request per 10 secs. Therefore a pause of 0.5 secs is enough.

In [1]:
import os
import time
import random as RD
import pandas as PD

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
# can't reload script in a different folder

import sys
sys.path.append('../models')
import moviedb_helper as MH

In [4]:
config = MH.MB.Configuration()
config.base_uri
config.headers
#config.info()

'https://api.themoviedb.org/3'

{'Content-Type': 'application/json',
 'Accept': 'application/json',
 'Connection': 'close'}

## Get Data For One Movie

In [5]:
URL_FILE = '../data/reelgood_url.csv'
url_df = PD.read_csv(URL_FILE)
url_df.head()
url_df.shape

,title,year,reelgood_id
0,1,2013,1-2013
1,"10,000 BC",2008,10000-bc-2008
2,1000 Rupee Note,2016,1000-rupee-note-2016
3,1000 To 1,2014,1000-to-1-2014
4,$100 and a T-Shirt: A Documentary About Zines ...,2004,100-and-a-tshirt-a-documentary-about-zines-in-...

(18496, 3)

In [6]:
# get sample movie

sample_idx = RD.randint(1,url_df.shape[0])
sample_idx  
movie_dx = url_df.iloc[sample_idx].to_dict()
movie_dx

5069

{'title': 'Ernest & Celestine',
 'year': 2012,
 'reelgood_id': 'ernest-celestine-2012'}

In [7]:
client = MH.MovieDBHelper()

results = client.get_movie_data(movie_dx['title'], movie_dx['year'])
#results = client.get_movie_data("The Lord of the Rings: The Fellowship of the Ring",  2001)
results

{'title': 'Ernest & Celestine',
 'original_title': 'Ernest et Célestine',
 'year': '2012',
 'rating': None,
 'companies': 'Gkids, StudioCanal',
 'country': 'Belgium',
 'language': 'French',
 'runtime': 78,
 'crew': 'Stéphane Aubier, Vincent Patar, Benjamin Renner',
 'cast': 'Anne-Marie Loop, Lambert Wilson, Pauline Brunner',
 'genres': 'Animation, Comedy, Drama, Family',
 'collection': None,
 'synopsis': 'Celestine is a little mouse trying to avoid a dental career; Ernest is a big bear craving an artistic outlet. When Celestine meets Ernest, they overcome their natural enmity by forging a life of crime together.',
 'budget': 12516654,
 'gross': 8109160,
 'tmdb_score': 7.7,
 'tmdb_votes': 267,
 'tmdb_id': 126319,
 'imdb_id': 'tt1816518'}

### Explore Movies()

In [8]:
#movie_id = client.get_movie_id(movie_dx['title'], movie_dx['year'])
movie_id = client.get_ movie_id("Out of the Blue",  2002)

movie_res = MH.MB.Movies(movie_id)
#dir(movie_res)

SyntaxError: invalid syntax (<ipython-input-8-fbd840064dbd>, line 2)

In [ ]:
movie_res.base_uri

In [ ]:
#PD.DataFrame(movie_res.changes()['changes'][0]['items'])

In [ ]:
# credits 

cast = movie_res.credits()['cast']
cast
cast_df = PD.DataFrame(cast)
cast_df.head()

In [ ]:
crew = movie_res.credits()['crew']
crew_df = PD.DataFrame(crew)
crew_df.head()

In [ ]:
crew_df['department'].value_counts()

In [ ]:
#crew_df.loc[crew_df['department'].isin(['Production', 'Writing', 'Directing'])]
crew_df.loc[crew_df['job'].isin(['Producer', 'Director', 'Writer', 'Executive Producer'])]

# comparing the crews of random movies against the IMDB profile shows good overlap
# take the first director found, and then (from the start) the next 2 different crew
# this gives perfect agreement of the top 2 crew with imdb and wikipedia

In [ ]:
movie_res.external_ids()

In [ ]:
# info: collection, budget, genres, imdb_id, production_companies, production_countries?, revenue, runtime, language
# get all data from info()

movie_res.info()

In [ ]:
movie_res.keywords()

In [ ]:
# nothing to do with current movie

#movie_res.latest()

In [ ]:
# users that have the movie in their list

movie_res.lists()['total_pages']

In [ ]:
# nothing to do with current movie

#movie_res.now_playing()

In [ ]:
# nothing to do with current movie

#movie_res.popular()

In [ ]:
# 401 Client Error

#movie_res.rating()

In [ ]:
# similar movies

#movie_res.recommendations()

In [ ]:
len(movie_res.release_dates()['results'])

In [ ]:
len(movie_res.releases()['countries'])

In [ ]:
len(movie_res.reviews()['results'])

In [ ]:
len(movie_res.similar_movies()['results'])

In [ ]:
# nothing to do with current movie

#movie_res.top_rated()

In [ ]:
len(movie_res.translations()['translations'])

In [ ]:
# nothing to do with current movie

#movie_res.upcoming()

In [ ]:
# trailers and crap

len(movie_res.videos()['results'])