# Whats On Netflix Scraper

In [1]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
%load_ext autoreload
%autoreload 2         # reload custom py file eveytime a new cell is run

import sys
sys.path.append('../')
import whatson_scraper as WS

## Scrape One Page

In [4]:
scraper = WS.WhatsOnScraper()

<selenium.webdriver.firefox.webdriver.WebDriver (session="d60cb3fa-17c5-1f4c-b34d-9512973d1bd2")>

In [5]:
scraper.setup_scrape()

In [6]:
movie_ls = scraper.scrape_page()
movie_ls[:5]

[{'title': '#realityhigh', 'year': '2017', 'netflix_id': '80125979'},
 {'title': '#Roxy', 'year': '2018', 'netflix_id': '81087095'},
 {'title': '#Rucker50', 'year': '2016', 'netflix_id': '80147908'},
 {'title': '#Selfie', 'year': '2014', 'netflix_id': '81092768'},
 {'title': '#Selfie 69', 'year': '2016', 'netflix_id': '81092766'}]

In [7]:
scraper.next_page()

True

In [8]:
scraper.close()

## Scrape All Pages

In [9]:
scraper = WS.WhatsOnScraper()

<selenium.webdriver.firefox.webdriver.WebDriver (session="7feed9b5-c644-8841-ad1a-ae12be8c3de1")>

In [10]:
scraper.setup_scrape()

In [11]:
movie_ls = []
has_next = True

while has_next:
    movie_ls += scraper.scrape_page()
    has_next = scraper.next_page()

In [14]:
scraper.close()

In [12]:
index_df = pd.DataFrame(movie_ls)
index_df.head()
index_df.info()

          title  year netflix_id
0  #realityhigh  2017   80125979
1         #Roxy  2018   81087095
2     #Rucker50  2016   80147908
3       #Selfie  2014   81092768
4    #Selfie 69  2016   81092766

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2945 entries, 0 to 2944
Data columns (total 3 columns):
title         2945 non-null object
year          2945 non-null object
netflix_id    2945 non-null object
dtypes: object(3)
memory usage: 69.1+ KB

In [13]:
save_path = r'../data/whatson_index.csv'
index_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.09 mb'